input[type="range"] {
    -webkit-appearance: none; 
    appearance: none;
    width: 100%;
    height: 8px;
    background: #444444;
    border-radius: 10px;
    cursor: pointer;
    outline: none;
    transition: background 0.3s ease;
  }
  
  input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 16px;
    height: 16px;
    background: #32CD32;
    border-radius: 50%;
    cursor: pointer;
    transition: background 0.3s ease;
  }
  
  input[type="range"]::-moz-range-thumb {
    width: 16px;
    height: 16px;
    background: #32CD32;
    border-radius: 50%;
    cursor: pointer;
    transition: background 0.3s ease;
  }
  
  input[type="range"]:hover::-webkit-slider-thumb {
    background: #228B22;
  }
  
  input[type="range"]:hover::-moz-range-thumb {
    background: #228B22; 
  }
  
  input[type="range"]:focus {
    background: #555555; 
  }
  
  /* 2 */
  
  .bn5:active {
    color: #000;
  }
  
  .bn5:active:after {
    background: transparent;
  }
  
  .bn5:hover:before {
    opacity: 1;
  }
  
  .bn5:after {
    z-index: -1;
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: #191919;
    left: 0;
    top: 0;
    border-radius: 10px;
  }
  .card {
    --bg-color: transparent;
    background-color: var(--bg-color);
    padding: 1rem 2rem;
    border-radius: 1.25rem;
  }
  .loader {
    color: rgba(248, 246, 246, 0.693);
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    height: 40px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    border-radius: 8px;
  }
  
  .words {
    overflow: hidden;
    position: relative;
  }
  .words::after {
    content: "";
    position: absolute;
    inset: 0;
    background: linear-gradient(
      var(--bg-color) 10%,
      transparent 30%,
      transparent 70%,
      var(--bg-color) 90%
    );
    z-index: 20;
  }
  
  .word {
    display: block;
    height: 100%;
    padding-left: 6px;
    color: #956afa;
    animation: spin_4991 4s infinite;
  }
  
  @keyframes spin_4991 {
    10% {
      -webkit-transform: translateY(-102%);
      transform: translateY(-102%);
    }
  
    25% {
      -webkit-transform: translateY(-100%);
      transform: translateY(-100%);
    }
  
    35% {
      -webkit-transform: translateY(-202%);
      transform: translateY(-202%);
    }
  
    50% {
      -webkit-transform: translateY(-200%);
      transform: translateY(-200%);
    }
  
    60% {
      -webkit-transform: translateY(-302%);
      transform: translateY(-302%);
    }
  
    75% {
      -webkit-transform: translateY(-300%);
      transform: translateY(-300%);
    }
  
    85% {
      -webkit-transform: translateY(-402%);
      transform: translateY(-402%);
    }
  
    100% {
      -webkit-transform: translateY(-400%);
      transform: translateY(-400%);
    }
  }
  .bn5 {
    padding: 0.6em 2em;
    border: none;
    outline: none;
    color: rgb(255, 255, 255);
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
  }
  
  .bn5:before {
    content: "";
    background: linear-gradient(
      45deg,
      #ff0000,
      #ff7300,
      #fffb00,
      #48ff00,
      #00ffd5,
      #002bff,
      #7a00ff,
      #ff00c8,
      #ff0000
    );
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowingbn5 20s linear infinite;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    border-radius: 10px;
  }
  
  @keyframes glowingbn5 {
    0% {
      background-position: 0 0;
    }
    50% {
      background-position: 400% 0;
    }
    100% {
      background-position: 0 0;
    }
  }
  /* From Uiverse.io by barisdogansutcu */ 
  .download-button {
    position: relative;
    border-width: 0;
    color: white;
    font-size: 15px;
    font-weight: 600;
    cursor: pointer;
    border-radius: 4px;
    z-index: 1;
  }
  
  .download-button .docs {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    min-height: 40px;
    padding: 0 10px;
    border-radius: 4px;
    z-index: 1;
    background-color: #242a35;
    border: solid 1px #e8e8e82d;
    transition: all 0.5s cubic-bezier(0.77, 0, 0.175, 1);
  }
  
  .download-button:hover {
    box-shadow:
      rgba(0, 0, 0, 0.25) 0px 54px 55px,
      rgba(0, 0, 0, 0.12) 0px -12px 30px,
      rgba(0, 0, 0, 0.12) 0px 4px 6px,
      rgba(0, 0, 0, 0.17) 0px 12px 13px,
      rgba(0, 0, 0, 0.09) 0px -3px 5px;
  }
  
  .download {
    position: absolute;
    inset: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 90%;
    margin: 0 auto;
    z-index: -1;
    border-radius: 4px;
    transform: translateY(0%);
    background-color: #01e056;
    border: solid 1px #01e0572d;
    transition: all 0.5s cubic-bezier(0.77, 0, 0.175, 1);
  }
  
  .download-button:hover .download {
    transform: translateY(100%);
  }
  
  .download svg polyline,
  .download svg line {
    animation: docs 1s infinite;
  }
  
  @keyframes docs {
    0% {
      transform: translateY(0%);
    }
  
    50% {
      transform: translateY(-15%);
    }
  
    100% {
      transform: translateY(0%);
    }
  }
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  /* For Copy Btn CSS */
  .Btn {
    width: 120px;
    height: 40px;
    background-color: rgb(65, 64, 64);
    border: none;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.342);
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 7px;
    position: relative;
    overflow: hidden;
    transition-duration: .5s;
  }
  
  .text {
    color: rgb(184, 236, 104);
    font-weight: 800;
    letter-spacing: 1.1px;
    z-index: 2;
  }
  
  .svgIcon {
    z-index: 2;
  }
  
  .svgIcon path {
    fill: rgb(184, 236, 104);
  }
  
  .Btn:hover {
    color: rgb(230, 255, 193);
  }
  
  .effect {
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: rgb(184, 236, 104);
    border-radius: 50%;
    z-index: 1;
    opacity: 0;
    transition-duration: .5s;
  }
  
  .Btn:hover .effect {
    transform: scale(15);
    transform-origin: center;
    opacity: 1;
    transition-duration: .5s;
  }
  
  .Btn:hover {
    box-shadow: 0px 0px 5px rgb(184, 236, 104),
    0px 0px 10px rgb(184, 236, 104),
    0px 0px 30px rgb(184, 236, 104);
    transition-duration: .7s;
  }
  
  .Btn:hover .text {
    color: rgb(65, 64, 64);
  }
  
  .Btn:hover .svgIcon path {
    fill: rgb(65, 64, 64);
  }
  .songs-container {
    /* background-color: black; */
    display: flex;
    flex-wrap: wrap;
  }
  .songs-item {
    flex-grow: 1;
    /* background-color: black; */
    flex-basis: 200px;
  }